* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #00324e;
}
.App {
  height: auto;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #006aa6;
}
nav > a {
  border-radius: 5px;
  text-decoration: none;
  color: cornflowerblue;
  background-color: aliceblue;
}
nav > button {
  background-color: #2490bf;
  color: white;
  border: none;
}
.logo{
  width: 30px;
  height: 30px;
}
.header {
  position: sticky;
  top: 48px;
  width: 100%;
  padding: 1rem 0;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.279);
  border-radius: 12px 12px 0 0;
}
.search {
  background-color: #00324e;
  color: white;
  border: none;
  width: 20rem;
  height: 2rem;
}
.search::-webkit-search-cancel-button {
  cursor: pointer;
}
.search:focus {
  outline: none;
}
.home {
  display: flex;
  align-items: center;
  min-height: 50vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 728px;
  min-height: 50vh;
  margin: 3rem auto;
  background-color: white;
  border-radius: 12px;
  text-align: center;
}
ul {
  width: 100%;
  padding: 0;
}
.task {
  display: flex;
  justify-content: center;
}
.task p,
.task-created-time {
  font-size: 14px;
}
.task h3 {
  margin: 0;
}
.task-article {
  width: 80%;
  padding: 15px 0;
  text-align: left;
  border-bottom: 1px solid rgba(128, 128, 128, 0.279);
  cursor: pointer;
}
.task-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.task-filter {
  width: 80%;
  display: flex;
  padding: 12px 0;
}
.task-filter-block {
  padding: 12px;
}
.task-filter-block:not(:last-child) {
  border-right: 1px solid rgba(128, 128, 128, 0.279);
}
.task-filter-btn {
  color: rgba(128, 128, 128, 0.927);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.task-filter-btn:hover {
  color: rgba(128, 128, 128, 0.611);
}
.task-add-btn {
  border: none;
  background-color: white;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.524);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 728px;
  height: 100%;
  overflow-y: auto;
  padding: 0 40px;
  background-color: white;
}
.modal-header {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.modal-btns > button {
  margin-right: 10px;
  padding: 11px 16px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  background-color: #3397cf;
  border: none;
  cursor: pointer;
}
.modal-btns .modal-close-btn {
  margin: 0;
  color: gray;
  width: 40px;
  height: 40px;
  align-self: center;
  background-color: transparent;
}
.modal-container {
  width: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.task-form {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}
.task-form-select {
  width: 30%;
  font-size: 1rem;
}
.task-form-title {
  width: auto;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
}
.task-form-body {
  height: 70vh;
}
.task-form-title:focus,
.task-form-body:focus {
  outline: none;
}


.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spinner infinite 0.7s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}